---
import H3 from "../Elements/H3.astro"
import H4 from "../Elements/H4.astro"
import Button from "../Elements/Button.astro"
---


<section class="px-6 md:px-24 md:pt-12 py-12 bg-maus_rose_bg">
    <div class="flex flex-col gap-10">
        <div class="max-sm:text-center">
            <H3 
            text="Free to start"
            color="text-maus_blue_text" />
        </div>

        <div class="flex md:flex-row flex-col relative items-center">
            <div class="md:w-2/3 bg-maus_blue_bg z-0
                        w-full">
                <p class="italic custom_text_size text-maus_green_text_euro">
                    €0
                </p>
            </div>
            <div class="flex flex-col justify-around p-6 md:p-12 gap-5 bg-white z-10 md:absolute right-0 md:w-2/3">
                <H4
                color="text-maus_blue_text"
                text="The foundational tools you need to start earning today. No credit card required." />
                <Button
                text="View plans" />
            </div>
        </div>
    </div>
</section>

<style>
    .custom_text_size {     font-size: clamp(50px, 20vw, 750px)}
</style>