---
import H2 from "../Elements/H2.astro"
import Paragraph from "../Elements/Paragraph.astro"
import Line from "../Elements/Line.astro"
---

<section class="py-16 px-6 lg:px-24 flex flex-col gap-10 lg:gap-16">
    <div class="w-full">
        <H2 
        text="Our learning and development platform is the simplest way to drive growth for your people, teams, culture and organization."
        color="text-maus_blue_text"/>
    </div>

        <Line color="bg-maus_hr_bg_light" />

    <div class="w-full flex flex-col md:flex-row gap-5 lg:gap-12">
        <div class="">
            <Paragraph 
            color="text-maus_dark_text"
            text="10 years of designing and developing successful digital solutions is our raison detre. We believe in a strong technical understanding and in design doing much more than a visual job. And we believe in making a difference for you and your business." />
        </div>
        <div class="">
            <Paragraph 
            color="text-maus_dark_text"
            text="We bring international know-how to any project thanks to our comprehensive knowledge with Scandinavian culture and business. Combined with a great network of freelancers and specialists we create outstanding solutions at very competitive prices." />
        </div>
    </div>
</section>