---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Blocks/Main.astro";
import SectionOne from '../components/Sections/SectionOne.astro';
import SectionTwo from "../components/Sections/SectionTwo.astro";
import SectionThree from "../components/Sections/SectionThree.astro";
import SectionFour from "../components/Sections/SectionFour.astro";
import SectionFive from "../components/Sections/SectionFive.astro";
import SectionSix from "../components/Sections/SectionSix.astro";
import SectionSeven from "../components/Sections/SectionSeven.astro";
import SectionEight from "../components/Sections/SectionEight.astro";
---


<Layout title="Maus Landing Page">
    <Main>
        <SectionOne />
        <SectionTwo />
        <SectionThree />
        <SectionFour />
        <SectionFive />
        <SectionSix />
        <SectionSeven />
        <SectionEight />
    </Main>
</Layout>